<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <clear />
    <add name="FestivalDB" providerName="" connectionString="Data Source=C:\Users\Stefan\Desktop\mpp-proiect-csharp-stefnmUBB\FestivalSellpoint\FestivalSellpoint.db;Version=3;" />
  </connectionStrings>

  <appSettings>
    <add key="ConnectionType" value="System.Data.SQLite.SQLiteConnection" />
  </appSettings>
</configuration>